<?xml version="1.0" encoding="utf-8"?>
<!-- SPDX-License-Identifier: Apache-2.0 -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.lineageos.pianoparts"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.INTERNAL_SYSTEM_WINDOW" />
    <uses-permission android:name="android.permission.DEVICE_POWER" />
    <uses-permission android:name="android.permission.DISABLE_INPUT_DEVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.OVERRIDE_COMPAT_CHANGE_CONFIG" />
    <uses-permission android:name="android.permission.REBOOT" />

    <application
        android:name=".PianoPartsApp"
        android:label="@string/app_name"
        android:persistent="true"
        android:directBootAware="true">

        <service
            android:name=".ThermalProfileTileService"
            android:icon="@drawable/ic_thermal_tile"
            android:label="@string/thermal_profile_title"
            android:exported="true"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service
            android:name=".TouchGameModeTileService"
            android:icon="@drawable/ic_touch_tile"
            android:label="@string/touch_game_mode_title"
            android:exported="true"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service
            android:name=".ReadingModeTileService"
            android:icon="@drawable/ic_reading_tile"
            android:label="@string/reading_mode_title"
            android:exported="true"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service
            android:name=".SunlightModeTileService"
            android:icon="@drawable/ic_sunlight_tile"
            android:label="@string/sunlight_mode_title"
            android:exported="true"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service
            android:name=".DesktopModeTileService"
            android:icon="@drawable/ic_desktop_tile"
            android:label="@string/desktop_mode_title"
            android:exported="true"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service
            android:name=".TrueToneTileService"
            android:icon="@drawable/ic_true_tone_tile"
            android:label="@string/true_tone_title"
            android:exported="true"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service
            android:name=".BypassChargingTileService"
            android:icon="@drawable/ic_bypass_tile"
            android:label="@string/bypass_charging_title"
            android:exported="true"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <activity
            android:name=".KeyboardSettingsActivity"
            android:label="@string/keyboard_settings_title"
            android:theme="@style/Theme.SubSettingsBase"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data android:name="com.android.settings.category"
                       android:value="com.android.settings.category.ia.system" />
            <meta-data android:name="com.android.settings.summary"
                       android:resource="@string/keyboard_settings_summary" />
            <meta-data android:name="com.android.settings.icon"
                       android:resource="@drawable/ic_keyboard_settings" />
        </activity>
    </application>
</manifest>
