service miweaver_hal_service /odm/bin/hw/android.hardware.weaver
    class hal
    user  system
    group system drmrpc
    interface aidl vendor.xiaomi.hardware.miauthsecretd.ICpaceService/default
    interface aidl vendor.xiaomi.hardware.oldcredential.IOldCredentialService/default
